<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>{{title}}</title>
    <link href="/css/jass.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    {{{ vapid_public_key }}}
    
    <script src="/js/client.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">Course Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <!-- Where the content of the individual pages will be added -->
    <img class="bg-image" src="/css/alisa-anton-SiKMqywFKWA-unsplash.jpg"/> 
    <section>
        {{{body}}}
    </section>

   
<!-- Footer -->
    <footer class="footer fixed-bottom">
        <div class="container">
            <div class="footer-content">
                <p>&copy; 2023 Course Tracker. Made with 💔</p>
            </div>
        </div>
    </footer>


    <!-- for additional scripts here if needed -->
</body>
</html>
